html {
    background-color: #393838;
}

main {
    position: relative;
    background-color: #393838;
    top: 7vw;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}

.main-header {
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #f7d6ad;
    border-top-style: none;
    border-bottom-style: solid;
    border-color: darkslategray;
    border-width: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw; 
}

@keyframes shakeLogo {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    20% {transform: translate(-1px, -2px) rotate(1deg);}
    40% {transform: translate(-2px, -1px) rotate(-1deg);}
    60% {transform: translate(2px, 1px) rotate(2deg);}
    80% {transform: translate(-2px, -2px) rotate(0deg);}
    100% {transform: translate(1px, 2px) rotate(-1deg);}
}

.main-header img {
    margin-left: 1vw;
    height: 45px;
}

.main-header img:hover {
    animation: shakeLogo 0.5s;
}

.header-container {
    width: 80vw; 
}

.header-container h1{
    display: inline;
    margin-left: 1.5vw;
    font-size: 3rem;
    color: darkred;
    transition: color 0.5s ease-out;
}

.header-container h1:hover {
    color: red;
}

.header-container h2{
    display: inline-block;
    position: relative;
    left: 50%;
    color: darkred;
    transition: color 0.5s ease-out;
}

.header-container h2:hover {
    color: red;
}

.header-container img{
    vertical-align: -8px;
}

nav {
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-button {
    cursor: pointer;
    font-weight: 600;
    padding-right: 10vw;
    padding-left: 10vw;
    border-radius: 4px;
    border: none;
    background-color: #f7d6ad;
    font-size: large;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:hover {
    cursor: pointer;
    background-color: #e2b988
}

.nav-button:active {
    cursor: pointer;
    background-color: darkred;
    color: #faf9f9;
}

h1,h2,h4,p,li {
    color: #faf9f9;
}

a:link {
    color: rgb(158, 156, 161);
}

a:visited {
    color: rgb(124, 77, 233);
}

section > img {
    width: 560px;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 20vh;
    background-color: #f7d6ad;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: lightslategray;
}

#logo-lower img {
    height: 5vw;
}

#logo-lower img:hover {
    animation: shakeLogo 0.5s;
    animation-iteration-count: infinite;
}

#logo-lower {
    grid-column: 1;
    grid-row: 3;
}

#jobs {
    align-self: end;
}

#about {
    align-self: end;
}

#cookies {
    align-self: end;
}

.copyright {
    grid-row: 3;
    grid-column: 3;
}

.copyright > p {
    position: relative;
    font-size: 1.2em;
    color: #000000;
}

#contact-photo {
    width: 20vw;
}