html {
    background-color: #393838;
}

main {
    position: relative;
    background-color: #393838;
    top: 7vw;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}

.main-header {
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #f7d6ad;
    border-top-style: none;
    border-bottom-style: solid;
    border-color: darkslategray;
    border-width: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw; 
}

.main-header img {
    height: 40px;
}

.header-container {
    width: 80vw; 
}

.header-container h1{
    display: inline;
    color: darkred;
}
.header-container h2{
    display: inline-block;
    position: relative;
    left: 60%;
    color: darkred;
}

.header-container img{
    vertical-align: -8px;
}

.header-container + nav:hover{
    background-color: #e2b988
}

nav {
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-button {
    cursor: pointer;
    font-weight: 600;
    padding-right: 115px;
    padding-left: 115px;
    border-radius: 4px;
    border: none;
    background-color: #f7d6ad;
    font-size: large;
}

.nav-button:hover {
    cursor: pointer;
    background-color: #e2b988;
}

.nav-button:active {
    cursor: pointer;
    background-color: darkred;
    color: #faf9f9;
}

h1,h2,h4,p,li {
    color: #faf9f9;
}

a:link {
    color: rgb(158, 156, 161);
}

a:visited {
    color: rgb(124, 77, 233);
}

section > img {
    width: 560px;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 20vh;
    background-color: #f7d6ad;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: lightslategray;
}

#logo-lower img{
    height: 5vw;
}

#logo-lower {
    grid-column: 1;
    grid-row: 3;
}

#jobs {
    align-self: end;
}

#about {
    align-self: end;
}

#cookies {
    align-self: end;
}

.copyright {
    grid-row: 3;
    grid-column: 3;
}

.copyright > p {
    position: relative;
    font-size: 1.2em;
    color: #000000;
}

#contact-photo {
    width: 20vw;
}